body {
	margin-top: 100px;

}
#chess {
	margin: 50px;
	border: 1px solid #000;
	height: 400px;
	width: 400px;
	display: flex;
	flex-wrap: wrap;
}
#row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.black-tile {
	background-color: black;
	width: 50px;
	height: 50px;
	color: white;
}

.white-tile {
	background-color: white;
	width: 50px;
	height: 50px;
}

#tr {
	padding: 5px;
	height: 50px;
	width: 50px;
}

#td {
	padding: 5px;
	height: 50px;
	width: 50px;
}

#basket {
	margin-top: 10px;
}

.buttons {
	padding: 5px;
	margin: 0 0 10px 0;
}